In [2]:
import pandas as pd
df=pd.read_csv("nba.csv")

In [23]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
#for showing the entire rows and entire columns

In [ ]:
df

In [5]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [6]:
#filling the null values of college column with previous value
df["College"]=df["College"].ffill()

In [9]:
#filling the null values of salary column with median value
medianSalary=df["Salary"].median()
df["Salary"].fillna(medianSalary,inplace=True)

In [16]:
#dropping the row with all columns null except the last two
df.dropna(how="any",axis=0,inplace=True)

In [27]:
# providing the summary statistics for the numerical variable age, grouped by the categorical value "College"
df.groupby("College")["Age"].mean()

College
Alabama                  29.000000
Arizona                  27.500000
Arizona State            27.500000
Arkansas                 27.333333
Baylor                   25.000000
Belmont                  25.000000
Blinn College            37.000000
Boston College           28.000000
Boston University        27.000000
Bowling Green            22.000000
Bucknell                 24.000000
Butler                   25.500000
California               27.000000
Central Michigan         34.000000
Charleston               27.000000
Cincinnati               25.500000
Clemson                  26.500000
Cleveland State          27.000000
Colorado                 22.750000
Colorado State           30.000000
Connecticut              27.375000
Creighton                28.750000
Davidson                 28.000000
Dayton                   28.000000
DePaul                   29.000000
Detroit                  24.000000
Duke                     27.678571
Eastern Washington       30.000000
Florida                  29.615385
Florida State            30.000000
Fresno State             25.000000
Georgetown               27.285714
Georgia                  23.000000
Georgia State            26.666667
Georgia Tech             27.222222
Gonzaga                  27.000000
Harvard                  27.000000
Houston                  26.000000
IUPUI                    30.000000
Illinois                 27.500000
Indiana                  23.500000
Iowa                     23.000000
Iowa State               23.000000
Kansas                   28.100000
Kansas State             27.000000
Kentucky                 24.666667
LSU                      26.000000
Lehigh                   24.000000
Long Beach State         25.000000
Louisiana Tech           31.000000
Louisiana-Lafayette      22.000000
Louisville               28.000000
Marquette                29.200000
Marshall                 26.000000
Maryland                 29.000000
Memphis                  26.000000
Miami (FL)               29.000000
Michigan                 25.166667
Michigan State           26.333333
Minnesota                31.000000
Missouri                 26.000000
Morehead State           26.500000
Murray State             23.000000
Nevada                   30.333333
New Mexico               24.500000
Norfolk State            24.000000
North Carolina           27.238095
North Carolina State     26.750000
Northeastern             31.000000
Notre Dame               23.000000
Ohio State               25.200000
Oklahoma                 27.000000
Oklahoma State           27.400000
Old Dominion             26.000000
Oregon                   25.000000
Oregon State             24.500000
Penn State               25.000000
Pittsburgh               22.666667
Providence               23.000000
Purdue                   29.500000
Rhode Island             24.000000
Rider                    26.500000
Saint Joseph's           26.333333
Saint Louis              26.000000
Saint Mary's             28.666667
San Diego State          25.500000
St. Bonaventure          26.000000
St. John's               26.600000
Stanford                 27.142857
Syracuse                 26.000000
Temple                   27.000000
Tennessee                27.333333
Tennessee State          25.000000
Texas                    26.111111
Texas A&M                26.333333
UC Santa Barbara         27.000000
UCLA                     26.375000
UNLV                     24.428571
USC                      27.125000
Utah                     32.000000
Utah Valley              31.000000
Vanderbilt               25.500000
Villanova                27.400000
Virginia                 27.200000
Virginia Commonwealth    23.500000
Virginia Tech            24.000000
Wake Forest              30.500000
Washington               27.777778
Washington State         29.333333
Weber State              25.000000
Westchester CC           23.000000
Western Carolina         33.000000
Western Kentucky         29.000000
Western Michigan         25.000000
Wichita State            25.000000
Wisconsin                25.800000
Wyoming                  23.000000
Xavier                   35.000000
Name: Age, dtype: float64

In [30]:
# providing the summary statistics for the numerical variable salary, grouped by the categorical value [team and position]

df.groupby(["Team","Position"])["Salary"].mean()

Team                    Position
Atlanta Hawks           C           7.585417e+06
                        PF          5.988067e+06
                        PG          4.881700e+06
                        SF          3.000000e+06
                        SG          2.607758e+06
Boston Celtics          C           2.450465e+06
                        PF          6.056987e+06
                        PG          4.974652e+06
                        SF          6.796117e+06
                        SG          2.290766e+06
Brooklyn Nets           C           1.031814e+07
                        PF          3.576205e+06
                        PG          2.915759e+06
                        SG          1.473351e+06
Charlotte Hornets       C           6.772240e+06
                        PF          4.685770e+06
                        PG          4.776152e+06
                        SF          6.331404e+06
                        SG          4.661406e+06
Chicago Bulls           C           1.042438e+07
                        PF          3.361007e+06
                        PG          1.117153e+07
                        SF          1.958160e+06
                        SG          5.717549e+06
Cleveland Cavaliers     C           6.828957e+06
                        PF          1.394101e+07
                        PG          6.551592e+06
                        SF          1.195889e+07
                        SG          3.577262e+06
Dallas Mavericks        C           2.332019e+06
                        PF          3.052835e+06
                        PG          4.418183e+06
                        SF          8.231051e+06
                        SG          8.928250e+06
Denver Nuggets          C           1.617240e+06
                        PF          7.024978e+06
                        PG          3.482413e+06
                        SF          9.327590e+06
                        SG          1.407330e+06
Detroit Pistons         C           4.090697e+06
                        PF          4.000000e+06
                        PG          4.260003e+06
                        SF          5.173600e+06
                        SG          4.580880e+06
Golden State Warriors   C           6.541249e+06
                        PF          7.275312e+06
                        PG          8.457256e+06
                        SF          3.766367e+06
                        SG          6.316092e+06
Houston Rockets         C           1.165332e+07
                        PF          1.755114e+06
                        PG          3.343543e+06
                        SF          3.381986e+06
                        SG          7.030721e+06
Indiana Pacers          C           4.000000e+06
                        PF          2.064961e+06
                        PG          4.054692e+06
                        SF          7.624404e+06
                        SG          5.700000e+06
Los Angeles Clippers    C           1.039480e+07
                        PF          6.655482e+06
                        PG          8.509072e+06
                        SF          3.662924e+06
                        SG          4.639893e+06
Los Angeles Lakers      C           5.806208e+06
                        PF          2.253022e+06
                        PG          2.157757e+06
                        SF          7.966611e+06
                        SG          7.000000e+06
Memphis Grizzlies       C           1.968800e+07
                        PF          4.169588e+06
                        PG          3.761309e+06
                        SF          4.581313e+06
                        SG          3.550386e+06
Miami Heat              C           9.813480e+05
                        PF          7.884668e+06
                        PG          8.811036e+06
                        SF          3.336315e+06
                        SG          7.123384e+06
Milwaukee Bucks         C           9.258397e+06
                        PF          2.980240e+06
                        PG          3.415350e+06
                        SF          1.034762e+06
                        SG          6.345079e+06
Minnesota Timberwolves  C           6.426013e+06
                        PF          4.306978e+06
                        PG          5.376813e+06
                        SF          1.384565e+06
                        SG          5.758680e+06
New Orleans Pelicans    C           4.850122e+06
                        PF          6.140243e+06
                        PG          3.910588e+06
                        SF          1.661921e+06
                        SG          5.497929e+06
New York Knicks         C           7.732000e+06
                        PF          3.379299e+06
                        PG          4.487586e+06
                        SF          6.346947e+06
                        SG          2.489935e+06
Oklahoma City Thunder   C           6.303143e+06
                        PF          5.821013e+06
                        PG          9.382869e+06
                        SF          8.599621e+06
                        SG          3.207058e+06
Orlando Magic           C           6.098638e+06
                        PF          4.688068e+06
                        PG          4.286164e+06
                        SF          8.450590e+05
                        SG          3.740735e+06
Philadelphia 76ers      C           4.604820e+06
                        PF          2.879227e+06
                        PG          1.141104e+06
                        SF          9.225295e+05
                        SG          1.908358e+06
Phoenix Suns            C           5.630172e+06
                        PF          3.267500e+06
                        PG          7.000750e+06
                        SF          2.582424e+06
                        SG          1.423116e+06
Portland Trail Blazers  C           4.470774e+06
                        PF          2.079564e+06
                        PG          3.545614e+06
                        SF          5.468477e+06
                        SG          2.124524e+06
Sacramento Kings        C           8.983410e+06
                        PF          6.850760e+05
                        PG          7.256780e+06
                        SF          4.417456e+06
                        SG          2.794976e+06
San Antonio Spurs       C           3.724319e+06
                        PF          1.059409e+07
                        PG          5.755732e+06
                        SF          8.775190e+06
                        SG          3.384923e+06
Toronto Raptors         C           3.105494e+06
                        PF          2.978463e+06
                        PG          6.836453e+06
                        SF          6.225972e+06
                        SG          5.350000e+06
Utah Jazz               C           1.674385e+06
                        PF          6.338267e+06
                        PG          2.442323e+06
                        SF          6.146973e+06
                        SG          5.405962e+06
Washington Wizards      C           8.163476e+06
                        PF          5.650000e+06
                        PG          9.011208e+06
                        SF          2.789700e+06
                        SG          2.839248e+06
Name: Salary, dtype: float64

In [51]:
#defining a custom age group and then find out the numerical values grouped by age groups
#for that, first lets see the unique values present in the age column
ages=df["Age"].unique()
ages.sort()
print(ages)

[19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40]

In [59]:
#bin array for setting criteria to slice by while using the cut method:
bins=[19,26,31,36,40]
age_group_labels=["19-25","26-30","31-35","36-40"]
df["AgeGroups"]=pd.cut(df["Age"],bins=bins,labels=age_group_labels)

In [63]:
df.groupby("AgeGroups")["Salary"].describe()

,count,mean,std,min,25%,50%,75%,max
AgeGroups,,,,,,,,
19-25,233.0,3.589789e+06,4.263344e+06,30888.0,981348.00,1842000.0,3777720.0,17120106.0
26-30,153.0,6.528698e+06,5.803102e+06,55722.0,2050000.00,4950000.0,9588426.0,22970500.0
31-35,56.0,5.077237e+06,5.292456e+06,200600.0,1323709.25,3421250.0,6350000.0,22875000.0
36-40,13.0,5.197620e+06,6.545067e+06,222888.0,947726.00,3376000.0,5250000.0,25000000.0